*{
  padding: 0;
  margin: 0;
  list-style: none;
  font-family:Franklin Gothic;

}

img{
  max-width: 100%;
  height:auto;
  width:auto/9;
}

body {
  background-color:#d7fffd;
}

header{
  margin-top: 10px;
  font-family: Franklin Gothic;
  background: #481380;
}

.dws > ul ol {
    list-style: none;
}

 .dws > ul {
  display: flex;
  justify-content:left;
}
.dws > ul li a{
  display: block;
  background: #481380;
  padding: 15px 30px 15px 40px;
  font-size: 16px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;

}

.dws > ul li {
  position: relative;


}

.dws > ul li > a i.fa{
  position: absolute;
  top: 15px;
  left: 12px;
  font-size: 18px;
}

.dws li a:hover{
  background:#481380;
  color: white;
  transition: all 0.3s ease;
}


.dws li ul{
  position: absolute;
  min-width: 150px;
  display: none;
}

.dws li > ul li  a{
  padding: 10px;
  text-transform: none;
  text-align: center;
}

.dws li:hover > ul {
  display: block;
}

.rom {
  height: 60px;
  width: 60px;
  float: right;
  margin-top: 40px;
  margin-right: 10px;
}

#hava{
  height: 130px;
  width: 500px;
}

#hava2{
  margin-top: -22px;
  height: 100px;
  width: 300px;
  float: right;

}


footer{
  background:#481380;
  height: 40px;
  width: 100%;
  font-size: 15px;
  color: white;
  margin-top: 10px;
}

.foot > ul li{
  font-family: Franklin Gothic;
  text-transform: uppercase;
  float:left;
  padding-left: 8%;
  margin-top: 10px;
}

.block1{
  background: #c2f0fc;
  height: 400px;
  width: 35%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 160px;
  font-family: Franklin Gothic;
  text-align: left;
  word-wrap: break-word;
  text-align: center;
  border-radius: 15px;
}
.headBlock1{
  width: 100%;
  height: 30px;
  background:#4d089a;
  font-size: 20px;
  font-family: Franklin Gothic;
  color: white;
  padding-top: 10px;
  text-align: center;
  padding-bottom:5px;
  border-radius: 15px;
}
.button1 {
  height: 25px;
  width: 150px;
  background: #481380;
  color: white;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  text-align: center;
  border-radius: 15px;
  padding-top: 5px;
}
.button1:hover{
  background:#4d089a;
  color: white;
  cursor:pointer;
}

#img1{
  height: 400px;
  width: 650px;
  float: right;
  margin-top: -410px;
  margin-right: 160px;
  border-radius: 15px;
}

.block2{
  background: #c2f0fc;
  height: 400px;
  width: 35%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 160px;
  font-family: Franklin Gothic;
  text-align: left;
  word-wrap: break-word;
  text-align: center;
  border-radius: 15px;
}
.headBlock2{
  width: 100%;
  height: 30px;
  background:#4d089a;
  font-size: 20px;
  font-family: Franklin Gothic;
  color: white;
  padding-top: 10px;
  text-align: center;
  padding-bottom:5px;
  border-radius: 15px;
}
.button2 {
  height: 25px;
  width: 150px;
  background: #481380;
  color: white;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  text-align: center;
  border-radius: 15px;
  padding-top: 5px;

}
.button1:hover{
  background:#4d089a;
  color: white;
  cursor:pointer;
}

#img2{
  height: 400px;
  width: 650px;
  float: right;
  margin-top: -410px;
  margin-right: 160px;
  border-radius: 15px;
}

.block3{
  background: #c2f0fc;
  height: 400px;
  width: 35%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 160px;
  font-family: Franklin Gothic;
  text-align: left;
  word-wrap: break-word;
  text-align: center;
  border-radius: 15px;
}
.headBlock3{
  width: 100%;
  height: 30px;
  background:#4d089a;
  font-size: 20px;
  font-family: Franklin Gothic;
  color: white;
  padding-top: 10px;
  text-align: center;
  padding-bottom:5px;
  border-radius: 15px;
}
.button3 {
  height: 25px;
  width: 150px;
  background: #481380;
  color: white;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  text-align: center;
border-radius: 15px;
  padding-top: 5px;
}
.button3:hover{
  background:#4d089a;
  color: white;
  cursor:pointer;
}

#img3{
  height: 400px;
  width: 650px;
  float: right;
  margin-top: -410px;
  margin-right: 160px;
  border-radius: 15px;
}

.block4{
  background: #c2f0fc;
  height: 400px;
  width: 35%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 160px;
  font-family: Franklin Gothic;
  text-align: left;
  word-wrap: break-word;
  text-align: center;
  border-radius: 15px;
}
.headBlock4{
  width: 100%;
  height: 30px;
  background:#4d089a;
  font-size: 20px;
  font-family: Franklin Gothic;
  color: white;
  padding-top: 10px;
  text-align: center;
  padding-bottom:5px;
  border-radius: 15px;
}
.button4 {
  height: 25px;
  width: 150px;
  background: #481380;
  color: white;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  text-align: center;
  border-radius: 15px;
  padding-top: 5px;
}
.button4:hover{
  background:#4d089a;
  color: white;
  cursor:pointer;
}

#img4{
  height: 400px;
  width: 650px;
  float: right;
  margin-top: -410px;
  margin-right: 160px;
  border-radius: 15px;
}
